*{
	box-sizing: border-box;
	padding: 0;
	margin:  0;
}
body{
	background-image: url(imagini/cires.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 100%;	
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: var(--border);
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 1000;
}
.cont{
	margin-left: 40px;
	background: none;
	text-align: left;
}
.cont ul {
	display: inline-flex;
	list-style: none;
}
.cont ul li {
	width: 1020px;
	padding: 35px;
}
.car{
	font-family: papyrus;
	font-size: 48px;
	width: 600px;
	color: rgba(134, 67,56, 0.8);
}
.adresa{
	font-size: 20px;
	color:rgba(134, 67,56, 0.8) ;
}
.citat{
	font-family: papyrus;
	text-align: right;
	color: rgba(200, 80, 78, 0.8);
 	margin-right: 30px;
	font-size: 34px;
}
.meniu{
	text-align: center;
	background: rgba(50, 170, 247, 0.3);
}
.meniu ul {
	display: inline-flex;
	list-style: none;
	color: white;
}
.meniu ul li {
	width: 200px;
	margin: 10px;
	padding: 10px;
}
.meniu ul li a {
	text-decoration: none;
	color: rgba(134, 67,56, 0.8);
}
.flori, .meniu ul li:hover{
	background: rgba(50, 170, 247, 1.0);
	border-radius: 12px;
}
.meniu .fa {
	margin-right: 18px;
}
.lista1{
	display: none;
}
.meniu ul li:hover .lista1{
	display: block;
	position: absolute;
	background: rgba(50, 170, 247, 0.3);
	margin-top: 15px;
	margin-left: -15px;
}
.meniu ul li:hover .lista1 ul{
	display: block;
	margin-left: 10px;
}
.meniu ul li:hover .lista1 ul li{
	width: 180px;
	padding: 10px;
	border-bottom: 1px solid white;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.meniu ul li:hover .lista1 ul li:last-child{
	border-bottom: none;
}
.meniu ul li:hover .lista1 ul li a:hover{
	color: rgba(200, 80, 78, 1.0);
}
.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}
.container .title{
   font-family: papyrus;
   font-size: 2.5rem;
   color:rgba(134, 67,56, 0.8);
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}
.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   gap:2rem;
}
.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid rgba(50, 170, 247, 0.3);
   outline-offset: -1.5rem;
   cursor: pointer;
}
.container .products-container .product:hover{
   outline: .2rem solid rgba(50, 170, 247, 1.0);
   outline-offset: 0;
}
.container .products-container .product img{
   height: 10rem;
}
.container .products-container .product:hover img{
   transform: scale(.9);
}
.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 1.3rem;
   color:rgba(200, 80, 78, 0.8);
   font-family: papyrus;
}
.container .products-container .product:hover h3{
   color:rgba(134, 67,56, 0.8);
}
.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.6);
   display: none;
   align-items: center;
   justify-content: center;
}
.products-preview .preview{
   display: none;
   padding:0.2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:1rem;
   width: 30rem;
}
.products-preview .preview.active{
   display: inline-block;
}
.products-preview .preview img{
   height: 12rem;
}
.products-preview .preview .fa-times{
   position: absolute;
   top:0.5rem; right:1.2rem;
   cursor: pointer;
   color:rgba(50, 170, 247, 1.0);
   font-size: 2rem;
}
.products-preview .preview h3{
   color:rgba(134, 67,56, 0.8);
   padding:.5rem 0;
   font-size: 1.5rem;
   font-family: papyrus;
}
.products-preview .preview p{
   line-height: 1.1;
   padding:1rem 0;
   font-size: 1.3rem;
   color:#777;
}
.products-preview .preview .box{
	background: rgba(0, 0, 0, 0.1);
	width: 20rem;
	display: flex;
	margin-left: 5rem;
	align-items: center;
	justify-content: center;
	padding: 0.2rem;
	border-radius: 0.2rem;
	border: 0.1rem solid;
}
.products-preview .preview .box label{
	margin-right: 2.5rem;
	font-size: 1.4rem;
	font-family: papyrus;
}
.products-preview .preview .box .button{
	width: 2rem;
	border: 0.1rem solid black;
	border-radius: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	cursor: pointer;
}
.products-preview .preview .box .button:active{
	background: #ccc;
}
.products-preview .preview .box input{
	width: 4rem;
	border: 0.1rem solid black;
	border-radius: 0.2rem;
	font-size: 1.2rem;
	text-align: center;
	margin: 0 0.4rem;
}
.products-preview .preview .button{
   display: flex;
   gap:1rem;
   margin-top: 1rem;
}
.products-preview .preview .button a{
   flex:1 1 8rem;
   padding:1rem;
   font-size: 1.4rem;
   color:#444;
   border:.1rem solid #444;
   text-decoration: none;
}
.products-preview .preview .button a.add-cart{
   background: rgba(50, 170, 247, 0.3);
}

.products-preview .preview .button a.add-cart:hover{
	 background: rgba(50, 170, 247, 1.3);
}
